{{#if session.loggedIn}}
  <h1>Bienvenido {{session.username}}</h1>
{{else}}
  <h1>Debes iniciar sesión si quieres crear un Post</h1>
{{/if}}

<br />
<br />

{{#if hasPosts}}
  <h2>Posts</h2>
  <ul class="p-5">
    {{#each posts}}
      <li class="bg-gray-100 p-2 mt-5">
        <div class="flex items-center gap-5">
          <img class="w-10 h-10 rounded-full" src="{{this.profile_pic}}" />
          <div>
            <p class="font-bold text-lg">{{this.name}}</p>
            <p>{{this.username}}</p>
          </div>
          <div>
            <p> {{formatDate this.date}} {{formatHour this.date}}</p>
            <p>La descripción del post: {{this.description}}</p>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p class="text-red-500">Nadie ha creado un Post</p>
{{/if}}